<html>
	<title>To-Do lists</title>
	<h1>To-Do lists</h1>
	<form method="POST" action="/lists/{{ list.id }}/add_item">
		<input name="item_text" id="id_new_item" placeholder="Enter a to-do item" id="id_new_item"/>
		{% csrf_token %}
	</form>
	<table id="id_list_table">
	<!-- . item set is called a "reverse lookup". It's one of Django's incredibly useful bits of ORM that lets you look up an object's related items from a different table -->
		{% for item in list.item_set.all %}
			<tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
		{% endfor %}
	</table>
</html>
